.mainContainer {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  min-width: 80vw;
  top: 0px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
  min-width: 70vw;
}


.firstDiv{
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-left: hidden;
  border-right: hidden;
  border-color: darkgrey;
  margin-bottom: 30px;
}

.selection-div{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.textField-div{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-div{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.totalVotesList{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-right: hidden;
  border-left: hidden;
  border-width: 3px;
  border-color: darkgrey;
  margin-bottom: 40px;
}

.messageCard{
  margin-bottom: 10px;
}

.messageDiv{
  justify-content: center;
}

.messageDivHeading{
  display: flex;
  justify-content: center;
}

